<div>
  <div class="new-recipe">
  <%=link_to new_recipe_path(@recipes) do %>
    <button class="btn-rcp">Add new recipe</button>
  <% end %>
  </div>
  <div class="recipe-card">
  <% @recipes.each do |recipe| %>
    <div>
      <h3>
        <a href="/recipes/<%= recipe.id %>"> <%= recipe.name %></a>
      </h3>
      <% button_to "Delete", recipe, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <div>
      <p><%= recipe.description %></p>
    <div>
    <% end %>
  <div>
  <p>
    <% if @recipes.empty? %>
      <h2>No recipes yet</h2>
    </p>
    <% end %>
</div>
