<div>
  <div class="recipe-card">
  <% @recipes.each do |recipe| %>
    <div>
      <h3>Recipe <%= recipe.name %> </h3>
      <% button_to "Delete", recipe, method: :delete, data: { confirm: "Are you sure?" } %>
    </div>
    <div>
      <p><%= recipe.description %></p>
    <div>
    <% end %>
  <div>
  <p>
    <% if @recipes.empty? %>
      <span>No recipes yet</span>
    </p>
    <% end %>

   <div class="new-recipe">
      <button type="button" class="rcp">
       <a href="/recipes/new">Add new recipe</a>
  </button>
  </div>
</div>
