<div>
<div>
<h4> Preparation time: <%= @recipe.preparation_time %> </h4>
<h4> Cooking time: <%= @recipe.cooking_time %> </h4>
<p>Steps: <%= @recipe.description %> </p>
</div>
<div>
<button> Generate shopping list </button>
<button> Add ingredient</button>
</div>
<div>
<table>
<tr>
<th>Ingredients</th>
<th>Quantity</th>
<th>Value</th>
<th>Actions</th>
</tr>
<tr>
<td>Ingredient 1</td>
<td>Quantity 1</td>
<td>Value 1</td>
<td> Modify Remove </td>
</tr>
</table>
</div>
</div>