<div>
<div>
<h4> Preparation time: <%= @recipe.preparation_time %> </h4>
<h4> Cooking time: <%= @recipe.cooking_time %> </h4>
<p>Steps: <%= @recipe.description %> </p>
</div>
<div>
<button> Generate shopping list </button>
<%= link_to "Add ingredient", new_recipe_recipe_food_path(@recipe), class: "btn btn-primary add-food"%>
<br>
</div>
<div>
<table>
<tr>
<th>Ingredients</th>
<th>Quantity</th>
<th>Value</th>
<th>Actions</th>
</tr>
</table>
</div>
</div>