<h1 class="text-center">Add new food</h1>

<div class="container d-flex align-items-center flex-column justify-content-center mt-2">
 <button class="btn btn-secondary fw-bold align-self-start">
    <%= link_to "Back to foods", foods_path %>
 </button>
  <%= render "form", food: @food %>
</div >
