/* adding styles for inventory */

.inventory-display {
  border: thin solid #a5a5b0;
  padding: 12px;
  margin-bottom: 16px;
  transition: all 150ms ease-in-out;
}

.inventory-display:hover {
  background-color: #e4e4f9;
  border-color: #e4e4f9;
}

.inventory-name {
  width: 20%;
  margin-right: 82px;
  margin-bottom: 0;
}

.inventory-description {
  width: 80%;
  margin-bottom: 0;
}

.mt-2 {
  margin-top: 16px;
}

.zero-disp {
  display: none;
}

.btn a {
  text-decoration: none;
  color: #fff;
}

.form input {
  width: 550px;
}

.form .btn {
  width: fit-content;
}
